.table-responsive {
  max-height: 400px; /* tinggi area scroll */
  overflow-y: auto; /* aktifkan scroll vertikal */
}
th {
  position: sticky;
  top: 0;
  color: white;
  z-index: 100;
}
h1 {
  margin-bottom: 30px;
  color: rgb(108, 185, 201);
  font-size: 50px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.728);
  text-align: center;
}
