img {
  border-radius: 15px;
}

.gambarIPAL {
  position: relative;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.konten2 {
  text-decoration: none;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bawah {
  padding: 50px;
}
.bawah1 {
  padding: 20px;
}

.logo {
  width: 80px;
}

@media (max-width: 500px) {
  .slides {
    width: 300px;
  }
}
